<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Man_Hours_Monitoring.My.MySettings.GroupListConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\WIA\GroupList.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Man_Hours_Monitoring.My.MySettings.DLMasterlistConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\WIA\DLMasterlist.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=p25!"
            providerName="System.Data.OleDb" />
        <add name="Man_Hours_Monitoring.My.MySettings.SQLDevCon" connectionString="Data Source=BTMESSQLDEV03;Initial Catalog=ProdMonitoring;Persist Security Info=True;User ID=mesph;Password=PHFuse;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="SP_Emails" value="gcatapang@littelfuse.com; ibayer@littelfuse.com; afranche@littelfuse.com; drelos@littelfuse.com; deson@littelfuse.com; eperalta@littelfuse.com; ffruelda@littelfuse.com; gsadsad@littelfuse.com; hcadacio@littelfuse.com; jremo@littelfuse.com; jdimaandal@littelfuse.com; jmagmanlac@littelfuse.com; lcastillo2@littelfuse.com; lgarcia7@littelfuse.com; lmontenegro@littelfuse.com; mlatag@littelfuse.com; mfrancia@littelfuse.com; mcabrera2@littelfuse.com; nlicong@littelfuse.com; msaul@littelfuse.com; mrogelio@littelfuse.com; rramirez@littelfuse.com; resmao@littelfuse.com; vbogador@littelfuse.com"/>
	</appSettings>
</configuration>